<div class="header mobile-flex-wrap">
  <div class="logo mobile-m-0 mobile-pt-3">
    <div class="mobile mobile-menu mobile-mr-2"><i class="fas fa-bars"></i></div>
    <div><span class="izzi">izzi</span><span>sales</span></div>
  </div>

  <div class="search-bar mobile-flex-none mobile-mt-6 mobile-mb-5">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Search help articles" />
  </div>

  <div class="controls mobile-hidden">
    <div class="language-selector">
      <span>Language <i class="fas fa-sort-down"></i></span>
    </div>
    <div class="login">
      <i class="far fa-user"></i>
      Login
    </div>
  </div>
</div>
