<div class="footer">
  <div class="part1">
    <ul class="menu">
      <li class="heading footer-title">Buy</li>
      <li class="item footer-text">Registration</li>
      <li class="item footer-text">Bidding &amp; buying help</li>
      <li class="item footer-text">Stores</li>

      <li class="heading footer-title pt-5">Sell</li>
      <li class="item footer-text">Start selling</li>
      <li class="item footer-text">Learn to sell</li>
    </ul>

    <ul class="menu">
      <li class="heading footer-title">About</li>
      <li class="item footer-text">Company info</li>
      <li class="item footer-text">Investors</li>
      <li class="item footer-text">Careers</li>
      <li class="item footer-text">Government relations</li>
      <li class="item footer-text">Advertise with us</li>
      <li class="item footer-text">Policies</li>
    </ul>

    <ul class="menu">
      <li class="heading footer-title">Community</li>
      <li class="item footer-text">Company info</li>
      <li class="item footer-text">Investors</li>
      <li class="item footer-text">Careers</li>
      <li class="item footer-text">Government relations</li>
      <li class="item footer-text">Advertise with us</li>
      <li class="item footer-text">Policies</li>
      <li class="item footer-text">Policies</li>
    </ul>

    <ul class="menu">
      <li class="heading footer-title">Help &amp; Contact</li>
      <li class="item footer-text">Company info</li>
      <li class="item footer-text">Investors</li>
      <li class="item footer-text">Government relations</li>
    </ul>
  </div>

  <div class="part2">
    <div class="speech-bubble">
      <div class="left-part">
        <div class="footer-title">Subscribe</div>
        <div class="footer-text">Subscribe and be always aware of new discounts</div>
        <div class="subscribe-bar">
          <input class="input" />
          <button class="submit-button mdl-js-button mdl-js-ripple-effect">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
      <div class="right-part">
        <div class="footer-title">Follow us</div>
        <div class="social-icons">
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
      <div class="speech-arrow"></div>
    </div>
    <div class="footer-logo">
      <div class="footer-small-text">Powered by</div>
      <div class="logo">
        <div><span class="izzi">izzi</span><span>sales</span></div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="text placeholder">
      Copyright © 2017 izzisales. All Rights Reserved. User Agreement, Privacy, Cookies
    </div>

    <div class="payment-icons">test</div>
  </div>
</div>
