<div  class="texts">
  <div class="block">
    <h4>Community</h4>
    <span class="span">Announcements</span><br/>
    <span class="span">Answer center</span><br/>
    <span class="span">Discussion boards</span><br/>
    <span class="span">eBay Giving Works</span><br/>
    <span class="span">eBay Celebrity</span><br/>
    <span class="span">Groups</span><br/>
    <span class="span">eBay top shared</span>
  </div>

  <div class="block">
    <h4>The Beginner’s Guide to Understanding Artificial Intelligence</h4>
    <p class="p2">{{text2}}</p>
  </div>

  <div class="block">
    <span class="mr-3 span">13/19 R</span>
    <b class="span">13/19 S</b>
  </div>

  <div class="block">
    <p>{{text2}}</p>
    <br/><br/>

    <h1>The Beginner’s Guide to Understanding Artificial Intelligence</h1>
    <p>{{text1}}</p>
    <br/><br/>
    <p>{{text2}}</p>
    <br/><br/>

    <h2>The Beginner’s Guide to Understanding Artificial Intelligence</h2>
    <p>{{text1}}</p>
    <br/><br/>
    <p>{{text2}}</p>
    <br/><br/>

    <h3>The Beginner’s Guide to Understanding Artificial Intelligence</h3>
    <p>{{text1}}</p>
    <br/><br/>
    <p>{{text2}}</p>
  </div>
</div>
