:root {

  --white: #ffffff;
  --black: #000000;

  --background: #ffffff;

  --header: #2c3038;

  --placeholder: #{rgba(0, 0, 0, 0.4)};
  --text: #{rgba(0, 0, 0, 0.76)};
  --white-text: #{rgba(255, 255, 255, 0.8)};
  --link: #0869d5;
  --border: #{rgba(0, 0, 0, 0.12)};
  --orange: #fc6724;

  --warm: #ff6324;

  --footer: #f7f8fa;

  --red: #f00;

  --error: #f44600;

}
